@CHARSET "UTF-8";

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-size: 16px;
}

a{
	text-decoration: none;
    color: white;
}

body {
	line-height: 1.4;
	font-family:Arial;
}

.clear{
    clear: both;
}

.wrap{
    width: 320px;
    height: 600px;
    margin: 0 auto;
    border: black solid 1px;
    background-color: #dddddd;
}

/* HEADER */
header{
    background-color: #4daf7b;
    color: white;
    padding: 10px;
}

header #edit-appt{

}

header #add-appt{
    float: right;
    vertical-align: middle;
    margin-left: 76px;
}

#header-title{
    float: right;
}

/* SECTION DAY */
section .appt-day{
    background-color: #5a5651;
    color: white;
    font-size: 10px;
    padding: 5px 10px;
}

/* ARTICLE */
article{
    padding:  15px;
    background-color: white;
    border-bottom: solid #999999 1px; //TODO no border when last child and another section behind
}

article .appt-title{
    font-size: 14px;
    color: #333333;
}

article .appt-time{
    color: #dddddd;
    float: right;
    font-size: 12px;
    margin-top: 3px; //TODO Find a better way to center it
}

article .delete-icon{
    color: black;
    float: left;
    margin-right: 15px;
}

article .edit{
    color: black;
    float: right;
    margin-left: 15px;

}
