// Colors
$colorLink: white;

$bgAppColor: #dddddd;

$borderColor: #999999;

$dayBandColor: #5a5651;

$timeColor: #dddddd;

$titleApptColor: #333333;

$placeholderColor: #999999;

$navBarColor: #4daf7b;