<form id="appt-form">
    <input type="text" id="title" name="title" value="<%= appt ? appt.attributes.title:''%>" placeholder="Title" autofocus=""/>
    <input type="date" id="start-date" name="start_date" value="<%= appt ? appt.attributes.startDate:''%>" />
    <span> at </span>
    <input type="time" id="start-time" name="start_time" value="<%= appt ? appt.attributes.startTime:''%>" />
    <input type="time" id="end-time" name="end_time" value="<%= appt ? appt.attributes.endTime:''%>" />
    <input type="text" id="name" name="name" value="<%= appt ? appt.attributes.name:''%>" placeholder="Appointment with..."/>
    <input type="text" id="desc" name="description" value="<%= appt ? appt.attributes.description:''%>" placeholder="Description"/>
</form>
<a href="/" id="save-btn">Save</a>
<a href="/" id="cancel-btn" >Cancel</a>